* {
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(to right, #597d96, #1355a0);
}

.box{
    background: #323238;
    
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 6px;
    border-bottom: 4px solid #ecec3d;

    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
}

.box h2{
    color: #ecec3d;
    text-align: center;
}

.access{
    margin: 30px auto;
    padding: 10px;

    display: flex;
    flex-direction: column;
    gap: 20px;

}

.access input{
    height: 30px;
    border-style: none;
    /* background: transparent; */
    outline: none;
    border-radius: 2px;

}

::placeholder{
    height: 20px;
    color: #949494;
    font-size: 0.7rem;
    vertical-align: middle;
    padding: 15px;
}

#user{
    /* display: block; */
    background: rgba(57, 63, 84, 0.8);

}

#password{
    /* display: block; */
    background: rgba(57, 63, 84, 0.8)
}

#login{

}
